*{
	padding: 0;
	margin: 0;
}
ul,li {
	list-style-type: none;
}
html,body {
	position:relative;
	width: 100%;
	height: 100%;
}
#content {
	position: absolute;
	left: 20%;
	top: 20%;
	width: 60%;
	height: 60%;
	overflow: hidden;
	border: 1px solid #ccc;
}
.content-wrap {
	position: relative;
}
.content-wrap > li {
	float: left;
	position: relative;
	width: 100%;
	height: 100%;
	background: #cae1ff;
	color: red;
	overflow: hidden;
}
li:nth-child(2) {
	background: #9bcd9b;
}
li:nth-child(3) {
	background: yellow;
}
button {
	width: 100px;
	height: 50px;
}
.button {
	position: absolute;
	bottom: 0;
}
.button1 {
	position: absolute;
	left: 120px;
	bottom: 0;
}
.charector {
	position: absolute;
	top: 55%;
	left: 6%;
	width: 151px;
	height: 291px;
	background: url("images/boy.png") -0px -291px no-repeat;
	z-index: 10;
}
.boyOriginal {
	background-position: -150px -0px;
}
.slowWalk {
	-webkit-animation: person-slow steps(1,start) 950ms infinite;
	animation: person-slow steps(1,start) 950ms infinite;
}
.slowFlowerWalk {
	-webkit-animation-name: person-flower-slow;
	-webkit-animation-duration: 950ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: step-start;
	-moz-animation-name: person-flower-slow;
	-moz-animation-duration: 950ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: step-start;
}
@-webkit-keyframes person-flower-slow {
	0%{
		background-position: -453px -0px;
	}
	25%{
		background-position: -904px -0px;
	}
	50% {
		background-position: -451px -0px;
	}
	75%{
		background-position: -753px -0px;
	}
	100% {
		background-position: -300px -0px;
	}
}
@-moz-keyframes person-flower-slow {
	0%{
		background-position: -453px -0px;
	}
	25%{
		background-position: -904px -0px;
	}
	50% {
		background-position: -451px -0px;
	}
	75%{
		background-position: -753px -0px;
	}
	100% {
		background-position: -300px -0px;
	}
}	
@-webkit-keyframes person-slow {
	0% {
		background-position: -0px -291px;
	}
	25% {
		background-position: -602px -0px;
	}
	50% {
		background-position: -302px -291px;
	}
	75% {
		background-position: -151px -291px;
	}
	100% {
		background-position: -0px -291px;
	}
}
@-moz-keyframes person-slow {
    0% {
        background-position: -0px -291px;
    }
    25% {
        background-position: -602px -0px;
    }
    50% {
        background-position: -302px -291px;
    }
    75% {
        background-position: -151px -291px;
    }
    100% {
        background-position: -0px -291px;
    }
}
keyframes person-slow {
    0% {
        background-position: -0px -291px;
    }
    25% {
        background-position: -602px -0px;
    }
    50% {
        background-position: -302px -291px;
    }
    75% {
        background-position: -151px -291px;
    }
    100% {
        background-position: -0px -291px;
    }
}
.boy-rotate {
	-webkit-animation-name: boy-rotate;
	-webkit-animation-duration: 850ms;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function: step-start;
	-webkit-animation-fill-mode: forwards;

	-moz-animation-name: boy-rotate;
	-moz-animation-duration: 850ms;
	-moz-animation-iteration-count:1;
	-moz-animation-timing-function: step-start;
	-moz-animation-fill-mode: forwards;
}
@-webkit-keyframes boy-rotate{
	 0% {
           background-position: -603px -291px;
       }
       16.7% {
           background-position: -150px -0px;
       }
       33.4% {
           background-position: -453px -291px;
       }
       50.1% {
           background-position: -0px -0px;
       }
       66.8% {
           background-position: -903px -291px;
       }
       83.5% {
           background-position: -753px -291px;
       }
       100% {
           background-position: -603px -291px;
       }
}

@-moz-keyframes boy-rotate{
	 0% {
           background-position: -603px -291px;
       }
       16.7% {
           background-position: -150px -0px;
       }
       33.4% {
           background-position: -453px -291px;
       }
       50.1% {
           background-position: -0px -0px;
       }
       66.8% {
           background-position: -903px -291px;
       }
       83.5% {
           background-position: -753px -291px;
       }
       100% {
           background-position: -603px -291px;
       }
}

